# Compiled class files
bin/
*.class

# IDE specific files
.vscode/
.project
.classpath
.settings/

# Database configuration (IMPORTANT)
.src/database.properties

# External libraries (User should download or use build tools)
lib/mysql-connector-j-9.6.0.jar